[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "/Users/wilsoncusack/github/exponential-decay-auction/lib/solmate"]
	branch = v7
[submodule "lib/fullrange"]
	path = lib/fullrange
	url = https://github.com/0xTomoyo/fullrange
